blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
narwhals==2.15.0
numpy==2.4.0
packaging==25.0
plotly==6.5.1
setuptools==80.9.0
Werkzeug==3.1.5
wheel==0.45.1
